*{
  margin: 0;
}

body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

audio{
  display: none;
}

.backGroundImg{
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url("carrot/img/background.png");
  background-size: cover;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playControl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playControl .startBtn{
  font-size: 30px;
  font-weight: bold;
  background: pink;
  border: 2px solid;
  border-radius: 10px;
  padding: 7px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.05s;
}

.modalBox button:active,
.playControl .startBtn:active{
  transform: scale(1.02);
}

.playControl .timeBox{
  display: inline;
  font-size: 31px;
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px 0;
}

.playControl .Point{
  display: inline;
  font-weight: bold;
  width: 40px;
  font-size: 30px;
  text-align: center;
  background-color: powderblue;
  border: 2px solid;
  border-radius: 30px;
  padding: 5px;
}

.playGround{
  position: relative;
  margin: 20px 40px 60px;
  height: 240px;
}

.playGround img{
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  transition: all 0.05s;
}

.playGround img:hover{
  transform: scale(1.1);
  cursor: pointer;
}


.modalBox{
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background: rgba(4, 4, 4, 0.7);
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayNone{
  display: none;
}

.showingModal{
  display:flex;
}

.playGround .showingImg{
  visibility: visible;
}

.modalBox p{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}

.modalBox button{
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 10px;
  background-color: pink;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.05s;
}
